<h2>About Me</h2>
<p>I'm a recent graduate from North Carolina State University looking to move into software development.</p>
<p>I have a proven record of working well with managers, co-workers, and clients. I communicate technical ideas effectively. I also code effectively in Java and C#, with more languages to come.</p>
<p>Please contact me with any questions.</p>

<h2>About My Website</h2>
<p>This homepage is angular app hosted on an AWS S3 bucket, and delivered to you through Amazon's CloudFront. I used Cloudfront, rather than the S3 static website hosting, because it allows me to deliver the site without making the S3 bucket public, which is required when using the built in website hosting.</p>
<p>I've written the code in Visual Studio Code. The code for the site is held in a Git repository on Github that can be viewed <a href="https://github.com/jessehwoods/PersonalWebsite.git">here</a>. I've used Amazon's CodePipeline to deliver updated code to the S3 bucket. Code merged to the "deployment" branch of the repository is automatically delivered to the S3 bucket and goes live on my website.</p>
<p>I chose Amazon CodePipeline over other options, particularly GitHub's workflows. The CodePipeline was easy to set up, integrates directly with the S3 architecture, and doesn't require me to store additional private data and credentials on Github.</p>
